<div *ngIf="anime" class="overviewWide">
  <div class="overview">
    <a [routerLink]="['/animes', anime.id]" [style.background-image]="'url(/assets/images/' + anime.imageName + ')'"></a>
    <button *ngIf="anime.followed" class="btn-danger hoverdeleteoverview" (click)="unfollowanime(anime)">- Unfollow</button>
    <button *ngIf="!anime.followed" class="btn-success hoveraddoverview" (click)="followanime(anime)">+ Follow</button>
    <div>
      <a [routerLink]="['/animes', anime.id]" style="color: #fff">{{ anime.name }}</a>
    </div>
  </div>
  <div class="divOverviewUpdates">
    <div>
      <table>
        <tbody>
          <tr *ngFor="let episode of anime.episodes">
            <td>
              <a href="{{ episode.address }}" target="blank">{{ episode.episodeNo }}  |  {{ episode.enterDate | amDateFormat:'LL' }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>