<div>
  <h1>{{ title }}</h1>
  
  <div *ngIf="!auth.authenticated()">
    <h2>Login</h2>
    <button class="primary" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  </div>

    <div *ngIf="auth.authenticated()">
        <input [(ngModel)]="filterText" type="text" placeholder="Search..."/>
        <button class="btn-success" (click)=getMangas()>Refresh</button>
        <div>
            <div *ngFor="let manga of mangas | filterMangaSurvBase:filterText" class="overview">
                <a [routerLink]="['/mangas', manga.id]" [style.background-image]="'url(/assets/images/' + manga.imageName + ')'"></a>
                <button *ngIf="manga.followed" class="btn-danger hoverdeleteoverview" (click)="unfollowManga(manga)">- Unfollow</button>
                <button *ngIf="!manga.followed" class="btn-success hoveraddoverview" (click)="followManga(manga)">+ Follow</button>
                <div>
                    <a [routerLink]="['/mangas', manga.id]" style="color: #fff">{{ manga.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>