<div>
  <h1>{{ title }}</h1>
  
  <div *ngIf="!auth.authenticated()">
    <h2>Login</h2>
    <button class="primary" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  </div>

    <div *ngIf="auth.authenticated()">
        <input [(ngModel)]="filterText" type="text" placeholder="Search..."/>
        <button class="btn-success" (click)=getMangas()>Refresh</button>
        <div>
            <div *ngFor="let manga of mangas | filterMangaSurvBase:filterText" class="overview">
                <div class="overviewThumb">
                    <button *ngIf="manga.followed" class="btn-danger hoverdeleteoverview" (click)="unfollowManga(manga)">- Unfollow</button>
                    <button *ngIf="!manga.followed" class="btn-success hoveraddoverview" (click)="followManga(manga)">+ Follow</button>
                    <a [routerLink]="['/mangas', manga.id]">
                        <img src="/assets/images/{{ manga.fileSystemName | stringImageReplace }}.jpg" alt="{{ manga.name }}">
                    </a>
                    <div>
                        <p>{{ manga.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>