<div>
  <h1>{{ title }}</h1>
  <input [(ngModel)]="filterText" type="text" placeholder="Search..." />
  <button class="btn-success" (click)=getUpdates()>Refresh</button>

  <table>
    <tr>
      <td>
        <div>
          <h1>Mangas</h1>
          <table>
            <!--<tr *ngFor="let num of [0,-1,-2,-3,-4,-5,-6,-7,-8]; let i = index">
              <td>
                {{i}}
                <h2><app-now format="LL" addDays=i></app-now></h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-36" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>-->
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="0"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-40" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-1"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-1" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-2"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-2" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-3"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-3" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-4"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-4" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-5"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-5" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-6"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-6" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-7"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-7" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-8"></app-now>
                </h2>
                <app-manga-followed-detail *ngFor="let manga of mangas | filterChapterDatePipe:-8" [manga]="manga"></app-manga-followed-detail>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>

        <div>
          <h1>Animes</h1>
          <table>
            <!--<tr *ngFor="let num of [0,-1,-2,-3,-4,-5,-6,-7,-8]; let i = index">
              <td>
                {{i}}
                <h2><app-now format="LL" addDays=i></app-now></h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-36" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>-->
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="0"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-40" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-1"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-1" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-2"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-2" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-3"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-3" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-4"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-4" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-5"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-5" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-6"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-6" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-7"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-7" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
            <tr>
              <td>
                <h2>
                  <app-now format="LL" addDays="-8"></app-now>
                </h2>
                <app-anime-followed-detail *ngFor="let anime of animes | filterEpisodeDatePipe:-8" [anime]="anime"></app-anime-followed-detail>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>