<div>
  <h1>{{ title }}</h1>
  
  <div *ngIf="!auth.authenticated()">
    <h2>Login</h2>
    <button class="primary" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  </div>

    <div *ngIf="auth.authenticated()">
        <input [(ngModel)]="filterText" type="text" placeholder="Search..."/>
        <button class="btn-success" (click)=getAnimes()>Refresh</button>
        <div>
            <div *ngFor="let anime of animes | filterMangaSurvBase:filterText" class="overview">
                <a [routerLink]="['/animes', anime.id]" [style.background-image]="'url(/assets/images/' + anime.imageName + ')'"></a>
                <button *ngIf="anime.followed" class="btn-danger hoverdeleteoverview" (click)="unfollowanime(anime)">- Unfollow</button>
                <button *ngIf="!anime.followed" class="btn-success hoveraddoverview" (click)="followanime(anime)">+ Follow</button>
                <div>
                    <a [routerLink]="['/animes', anime.id]" style="color: #fff">{{ anime.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>